//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 28 19:52:09 2015
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "btn1" LOCATE = SITE "C11" LEVEL 1;
COMP "btn2" LOCATE = SITE "M4" LEVEL 1;
COMP "btn3" LOCATE = SITE "A7" LEVEL 1;
COMP "LD<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "LD<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "LD<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LD<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "LD<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "LD<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "LD<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "LD<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "reset" LOCATE = SITE "G12" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
NET "clk_IBUFG" BEL "XLXI_6/BUFGMUX_inst.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

