//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 19 11:32:14 2015
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "A<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "A<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "A<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "O<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "O<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "O<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "O<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "D<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "D<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "D<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "D<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "WE" LOCATE = SITE "G12" LEVEL 1;
COMP "WCLK" LOCATE = SITE "C11" LEVEL 1;
PIN WCLK_pin<0> = BEL "WCLK" PINNAME PAD;
PIN "WCLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "WCLK_BUFGP/IBUFG" BEL "WCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

