NET "X[0]" LOC = "P11";
NET "X[1]" LOC = "L3";
NET "X[2]" LOC = "K3";
NET "Y[0]" LOC = "F3";
NET "Y[1]" LOC = "E2";
NET "Y[2]" LOC = "N3";
NET "S[0]" LOC = "M5";
NET "S[1]" LOC = "M11";
NET "S[2]" LOC = "P7";
NET "Cout" LOC = "G1";