NET "C" LOC = "P11"; 	//sw0
NET "B" LOC = "L3";  	//sw1
NET "A" LOC = "K3"; 		//sw2
NET "Z" LOC = "B4"; 		//sw3
NET "Y" LOC = "G3";		//sw4
NET "X" LOC = "F3";		//sw5
NET "W" LOC = "E2";		//sw6

NET "F" LOC = "M5";		//led0
NET "G" LOC = "G1";		//led7
